<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Instrument Detail</title>
</head>
<body>
<h1 th:text="${instrument.name}"></h1>
单价（元）为: <a th:text="${instrument.price}"></a><br>
重量（千克）为: <a th:text="${instrument.weight}"></a><br>
<form action="" method="post">
    购买数量：<input type="number" name="number">
    <input type="submit" value="加入购物车"><br>
</form>

<a th:href="@{~/review/{id}(id=${instrument.id})}">查看评价</a><br>
<a th:href="@{~/instruments}">看看别的</a><br>

</body>
</html>